#welcome,
#estimation,
#inputScore,
#actions,
#recentPoints {
  width: 100%;
  max-width: 900px;
}

#estimation,
#questionCounter,
#inputScore,
#recentPoints {
  display: none;
}

.jumbotron {
  background-color: white;
}

#viewPoints {
  cursor: pointer;
}

#actions {
  margin-top: 80px;
}

#answers {
  width: 100%;
  max-width: 600px;
}

#fibonacci {
  cursor: initial;
}

#taskSummary li {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding: 8px;
  background: #f0f0f0;
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 1.75rem;
  }

  .h2 {
    font-size: 1.25rem;
  }
}
